name: streaming_gen_ui_catalog
description: "A comprehensive Flutter application demonstrating the capabilities of the streaming_gen_ui package."
publish_to: 'none'
version: 0.0.1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
